.faqs-heading {
    text: {
        transform: uppercase;
        align: center;
    }
    margin: 1.25rem 0;
}
.accordion-item {
    background-color: $white;
    border: 0; 
    border-radius: 0 !important;
    margin-bottom: 10px;
    .card-header {
        background-color: $white;
        border: 0;
        padding: 0;
        margin-bottom: 0 !important;
        .btn {
            background-color: $bg-thc4;
            border: 0;
            font-size: 1rem;
            font-weight: 500;
            color: $color-heading;
            text-transform: uppercase;
            padding: .75rem 2rem .75rem 1.25rem;
            display: block;
            width: 100%;
            text-align: left;
            text-decoration: none;
            border-radius: 0;
            &:before {
                content: "\e64b";
                font-family: 'themify';
                position: absolute;
                right: 1rem;
                transition: all 0.3s linear;
            }
        }
        .collapsed {
            background-color: $bg-light;
            &:before {
                transform: rotate(-90deg);
            }
        }
    }
    .card-body {
    	border: 0;
    }
    dl {
        dt {
            font-weight: normal;
            p {
                margin-bottom: 0.5rem;
            }
        }
        dd {
            p {
                
            }
        }
    }
}